{%extends "base.html" %}

{% block content  %}


<style type="text/css">

  .button-overflow{
    overflow: visible;
  }
  .button-boder-radius{
    border-radius: .28571429rem;
  }
  .modal-radius{
    border-radius: .28571429rem  !important;
  }

  .payment, .payment:hover{
    background-color: #111111 !important;
    color: #fff;
  }
  .card-height{
    height: auto;
    min-height: 100% !important;
  }

  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }
  .tag-overflow {

      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
    }
    .tag-overflow::-webkit-scrollbar {
      display: none;
    }


button:hover {
  transform: translateY(-1px);
}



MyCardElement {
  height: 40px;
  padding: 10px 12px;
  width: 100%;
  color: #32325d;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 4px;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.MyCardElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.MyCardElement--invalid {
  border-color: #fa755a;
}

.MyCardElement--webkit-autofill {
  background-color: #fefde5 !important;
}
}

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


.MyDiv {
  @import "https://js.stripe.com/v3/fingerprinted/css/checkout-9b4675cfde460a4c4fd56a87ec4fb944.css">
;
}
    </style>

    {% load staticfiles %}

<div class="container pb-5">


<div class="animated wow fadeIn" data-wow-delay="0.6s">


<div class="d-flex justify-content-center">
  <h1 class="pt-3">Memberships</h1>
</div>
        <div class="row justify-content-md-center my-2">

            {%for account in membership_accounts%}
              {%if account.membership != 'f'%}

              <div class="col-sm-3 col-md-3  text-center ">
                <div class="card card-height my-2 hoverable">


                      <p class="mb-2 mt-4">{{account.get_membership_display }}</p>

                      {%if account.membership != 'l'%}
                      <p class="mb-0"> $<b>{{account.price}}</b> <small>/month</small></p>
                      {%else%}
                      <p class="">$<b>{{account.price}}</b><small> /one time fee</small> </p>
                      {%endif %}

                      {%if account.membership == 'y'%}
                      <small>Billed as one payment of $84</small>
                      {%endif %}

                      {%if account.membership !=  current_user.dividend_wealth_membership.membership %}
                      <div class="d-flex justify-content-center text-center">
                        <div class="d-flex align-items-end">
                          <button data-toggle="modal" data-target="#payment" selected_membership="{{account.membership}}" onclick="on_button_click_update_form_selected_membership(this)" data-whatever="@mdo" class=" btn btn-primary btn-sm button-boder-radius button-overflow waves-effect waves-light px-5  hoverable">Select</button>
                        </div>
                      </div>

                      {%else%}
                      <div class="d-flex justify-content-center text-center">
                        <div class="d-flex align-items-end">
                          <button data-toggle="modal" data-target="#postWatchlist" data-whatever="@mdo" class=" btn btn-primary btn-sm button-boder-radius button-overflow search-bar  waves-effect waves-light px-5 hoverable disabled">Current Membership</button>
                        </div>
                      </div>
                      {%endif%}
              </div>
            </div>
            {%endif%}
            {%endfor%}

        </div>

        <hr class="mt-5">

        <div class="d-flex justify-content-center text-center my-2">
          <p>Dividend Wealth is for those who beleive a concious and deliberate effort to acheive what seems at the moment, unsurmountable, is done by first surronding your self with people of like minds.</p>
        </div>
        <hr>

        <div class="d-flex justify-content-center text-center my-2">
          <h2>Benefits</h2>
        </div>

        <div class="d-flex justify-content-center my-2">

          <div class="d-flex align-items-center"">
            <div class="text-center mx-4 px-2">
              <h3>Monotize Groups</h3>
              <p> You keep <strong>90%</strong> of sales!</p>
            </div>

          </div>
          <img class="mx-4 px-2" width="150" height="150" src="{% static 'payment-method.svg' %}" />
          <div style="display:none">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
        </div>

        <div class="d-flex justify-content-center my-2">
          <img class="mx-4 px-2" width="150" height="150" src="{% static 'statistics.svg' %}" />
          <div style="display:none">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

          <div class="d-flex align-items-center mx-4 px-2">
            <div class=" text-center">
              <h3>Monthly Dividend Genorator</h3>

            </div>

          </div>
        </div>

        <div class="d-flex justify-content-center my-2">

          <div class="d-flex align-items-center mx-4 px-2">
            <div class=" text-center">
              <h3>Unlimited WatchLists</h3>
              <p>Keep an eye on your favorite stocks!</p>
            </div>

          </div>

          <div style="display:none">Icons made by <a href="https://www.flaticon.com/authors/monkik" title="monkik">monkik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
          <img   class="mx-4 px-2" width="150" height="150" src="{% static 'investment.svg' %}" />

        </div>

        <div class="d-flex justify-content-center my-2">
          <div style="display:none">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
          <img  class="mx-4 px-2 " width="150" height="150" src="{% static 'star.svg' %}" />

                <div class="d-flex align-items-center px-2 mx-4">
                  <div class="text-center ">
                    <h3>Disticntion</h3>
                    <p>Set your contnent apart!</p>
                  </div>
                </div>

        </div>





</div>

<div class="modal fade  modal-radius" id="payment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered  modal-radius" role="document">
    <div class="modal-content  modal-radius">
      <div class="modal-header  modal-radius">
        <div class="col-10 offset-1">
          <div class="d-flex justify-content-between">
            <h3 class="pt-3 mr-2">Payment Details</h3>
            <div class="d-flex justify-content-start">
              <img  class=""  width="46" height="50" src="{% static 'visa-pay-logo.svg' %}" />

              <img  class="ml-1"  width="46" height="50" src="{% static 'mastercard.svg' %}" />

              <img  class="ml-1"  width="46" height="50" src="{% static 'discover.svg' %}" />

              <img  class="ml-1"  width="46" height="50" src="{% static 'american-express-logo.svg' %}" />

            </div>


          </div>


        </div>


        <button id="watchlist_modal"  type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div  class="modal-body  modal-radius">

        <div class="col-10 offset-1">

          <div class="text-center">
            <h3 class="mb-2" id="item_description">Membership Fee</h3>
            <h2 class="mt-0 mb-3" id="item_price">$8</h2>
          </div>

          <form id="default_card_form" class="" action="{%url 'core:membership_choice'%}" method="post">
              {%csrf_token%}
            <input id="default_card_input" type="hidden" name="use_default_card" value="">
            <input id="selected_membership_default" type="hidden" name="selected_membership_default" value="">
          </form>
          {% if has_default_card == "true"%}

          <hr id="rule2">
          <div id="default_card_feild" class="">


          <div class="d-flex justify-content-center">
            <h5>Use Default Card</h5>
          </div>


          <div class="row hoverable pb-1 pt-4 pl-0 ml-0 rounded">
            <!-- make hoverable to let user know to slide -->
          <div class="col-6 pl-2 ml-0 tag-overflow">
            <div class="form-check pl-0 ml-0">
                <input type="checkbox" class="form-check-input"
                            id="default_card_source"
                 name="groupOfMaterialRadios">
                <label class="form-check-label"for="default_card_source">
                  <div class="d-flex justify-content-start">
                    {%if card_brand == "Visa"%}
                      <img  class="pb-2 pr-1"  width="30" height="30" src="{% static 'visa-pay-logo.svg' %}" />
                      {%elif  card_brand == "MasterCard" %}
                      <img  class="pb-2 pr-1"  width="30" height="30" src="{% static 'mastercard.svg' %}" />
                      {%elif  card_brand == "Discover" %}
                      <img  class="pb-2 pr-1"  width="30" height="30" src="{% static 'discover.svg' %}" />
                      {%elif  card_brand == "American Express" %}
                      <img  class="pb-2 pr-1"  width="30" height="30" src="{% static 'american-express-logo.svg' %}" />
                      {%else%}
                      <img  class="pb-2 pr-1"  width="30" height="30" src="{% static 'visa-pay-logo.svg' %}" />
                      {%endif%}
                      <div class="pt-1">
                        <div class="d-flex justify-content-start">
                              <p class="pr-1" >{{card_brand}}: </p>
                              <p class="">****{{ card_last4 }}</p>
                        </div>
                      </div>
                  </div>
                </label>
            </div>
          </div>

        <div class="col-3 tag-overflow">
              <p class="pt-1">{{ card_name }}</p>
        </div>

        <div class="col-3 tag-overflow">
          <p class="pt-1">{{ card_month }}/{{ card_exyear }}</p>
        </div>
          </div>

          <div class="d-flex justify-content-center">
            <div class="d-flex justify-content-start pt-1 mb-4">
              <img  class="mx-0 px-0"  width="50" height="20" src="{% static 'substract.svg' %}" />
              <h3 class="mx-0 my-0 py- px-0" >or</h3>
              <img  class="mx-0 px-0"  width="50" height="20" src="{% static 'substract.svg' %}" />
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <h5 class="mb-2">New Payment Method</h5>
          </div>

  </div>
          {%endif%}

          <div id="form_modal_body" class="d-flex justify-content-center mb-2">

          </div>

          <form id="payment-form" class="MyDiv" action="{%url 'core:membership_choice'%}" method="post">
            {%csrf_token%}
            <!-- Use the CSS tab above to style your Element's container. -->
            <label for="nameoncard">Name on Card</label>
            <input name="name_on_card" type="text" id="nameoncard" required class="form-control mb-4 z-depth-1" >

            <label for="card-element">Card Information</label>
            <div id="card-element" class="MyCardElement form-control mb-4 z-depth-1">
             <!-- Elements will create input elements here -->
            </div>

            <!-- We'll put the error messages in this element -->
            <div id="card-errors" role="alert"></div>

            <input id="selected_membership" type="hidden" name="selected_membership" value="">
              {% if has_default_card == "true"%}
                <hr id="rule">
              {%endif%}
              <button id="new_method_button" class="inputfile"  type="submit" name="button"></button>
          </form>
          <div class="d-flex justify-content-center">
            <button onclick="submit_payment_forms()" class=" payment btn  btn-lg btn-block button-boder-radius button-overflow waves-effect waves-light px-5  hoverable"  >Pay</button>

          </div>

        </div>



      </div>

    </div>
  </div>
</div>




</div>

<div class="modal fade " id="" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content  modal-radius">
      <div class="modal-header  modal-radius">
        <div class="d-flex justify-content-center"></div>
        <button id=""  type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body  modal-radius">
        <!-- Hidding Spinnere Element -->
                      <div id="form_spinner" class="preloader-wrapper big active">
                            <div class="spinner-layer spinner-blue-only">
                              <div class="circle-clipper left">
                                <div class="circle"></div>
                              </div>
                              <div class="gap-patch">
                                <div class="circle"></div>
                              </div>
                              <div class="circle-clipper right">
                                <div class="circle"></div>
                              </div>
                            </div>
                      </div>
      </div>
    </div>
  </div>
</div>
<script src="https://js.stripe.com/v3/"></script>

<!-- script for toggling display of the form -->
<script type="text/javascript">
  // Set your publishable key: remember to change this to your live publishable key in production
// See your keys here: https://dashboard.stripe.com/account/apikeys
var stripe = Stripe("{{stripe_pluishable_key}}");
var elements = stripe.elements();
function submit_payment_forms() {
  // submit default form
  {% if has_default_card == "true"%}

          // check if the default card source was chosen
          checkBox = document.getElementById('default_card_source')

          if (checkBox.checked == true){
            console.log("yea");
            // hide form
            document.getElementById('payment-form').style.display='none'
            document.getElementById('default_card_feild').style.display='none'
            document.getElementById('rule').style.display='none'
            document.getElementById('rule2').style.display='none'
            //clone the spinner
            clone = document.getElementById('form_spinner')
            clone = clone.cloneNode(true);
            clone.id = "spinner_clone";
            try {
              body =document.getElementById('form_modal_body')
              body.appendChild(clone);
              //$('#alert_footer').appendTo(clone).show('slow');
            }catch (e){
              sdx=2
            }

             document.getElementById('default_card_input').value = "true"
             document.getElementById('default_card_form').submit();
          }else {
            document.getElementById('new_method_button').click();

          }
{%else%}

          document.getElementById('new_method_button').click();

{%endif%}


}


function on_button_click_update_form_selected_membership(element) {
  document.getElementById('selected_membership').value = element.attributes["selected_membership"].value
    {% if has_default_card == "true"%}
  document.getElementById('selected_membership_default').value = element.attributes["selected_membership"].value
  {%endif%}
  if (element.attributes["selected_membership"].value == 'y') {
    item_descr=document.getElementById('item_description')
    item_pr=document.getElementById('item_price')

    item_descr.textContent = 'Yearly Membership Fee'
    item_pr.textContent = '$84.00'
  }
  if (element.attributes["selected_membership"].value == 'l') {
    item_descr=document.getElementById('item_description')
    item_pr=document.getElementById('item_price')

    item_descr.textContent = 'Lifetime Membership Fee'
    item_pr.textContent = '$400.00'
  }
  if (element.attributes["selected_membership"].value == 'm') {
    item_descr=document.getElementById('item_description')
    item_pr=document.getElementById('item_price')

    item_descr.textContent = 'Monthly Membership Fee'
    item_pr.textContent = '$8.00'
  }
}
// Set up Stripe.js and Elements to use in checkout form
var style = {
  base: {
    color: "#32325d",
    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
    fontSmoothing: "antialiased",
    fontSize: "16px",
    "::placeholder": {
      color: "#aab7c4"
    }
  },
  invalid: {
    color: "#fa755a",
    iconColor: "#fa755a"
  }
};

var card = elements.create("card", { style: style });
card.mount("#card-element");



var form = document.getElementById('payment-form');
form.addEventListener('submit', function(event) {
  event.preventDefault();
  // hide form
  form.style.display='none'

  //clone the spinner
  clone = document.getElementById('form_spinner')
  clone = clone.cloneNode(true);
  clone.id = "spinner_clone";
  try {
    body =document.getElementById('form_modal_body')
    body.appendChild(clone);
    //$('#alert_footer').appendTo(clone).show('slow');
  }catch (e){
    sdx=2
  }




  stripe.createToken(card).then(function(result) {
    if (result.error) {
      // Inform the customer that there was an error.
      var errorElement = document.getElementById('card-errors');
      errorElement.textContent = result.error.message;

      spinner_delete= document.getElementById('spinner_clone')
      spinner_delete.parentNode.removeChild(spinner_delete);

      form.style.display='inline'
    } else {
      // Send the token to your server.
      stripeTokenHandler(result.token);
      document.getElementById('payment-form').submit();
    }
  });
});

function stripeTokenHandler(token) {
  // Insert the token ID into the form so it gets submitted to the server
  var form = document.getElementById('payment-form');
  var hiddenInput = document.createElement('input');
  hiddenInput.setAttribute('type', 'hidden');
  hiddenInput.setAttribute('name', 'stripeToken');
  hiddenInput.setAttribute('value', token.id);
  form.appendChild(hiddenInput);

}




</script>


{% endblock %}
