{% extends "base.html" %}
{% load static %}

{% block other_content %}

<style>
  input[class=select2-search__field] {
    background-color: #f1f1f1;
    width: 100%;
  }
</style>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

<script type="text/javascript">

var header = document.getElementsByClassName('select2-search__field')

console.log(header)
</script>

{{ form.media }}
    <div class="mt-5 pt-5 col-8 offset-3 sm-col-4">
      <div class="row form-error">
          <div class="column" id="content">
              <form class="ui form" method="post" action='' enctype="multipart/form-data">
                  {% csrf_token %}

                  <div class="field">
                    <label for="{{ form.title.id_for_label }}">Title</label>
                  {{ form.title }}
                  </div>

                  <div class="field">
                    <label for="{{ form.topic.id_for_label }}">Description</label>
                  {{ form.description }}
                  </div>

                  <div class="field">
                  <label for="{{ form.content.id_for_label }}">Content</label>
                  {{ form.content }}
                  </div>


                  <div id="header-inner"class="field">
                  <label for="{{ form.stocks.id_for_label }}">Stocks</label>
                  {{ form.stocks }}
                  </div>








<button class="ui button" type="submit">  <i class="large telegram plane icon"></i>Submit</button>
 </form>
          </div>
      </div>
    </div>


{% endblock other_content %}
